{% extends 'base.html' %}
{% block content %}
<section class="hobbies-page">
  <h1>{{ texts.faqs }}</h1>
  <div class="info-section">
    <h3>1. {{ texts.faq_question_1 }}</h3>
    <p>{{ texts.faq_answer_1 }}</p>
  </div>
  <div class="info-section">
    <h3>2. {{ texts.faq_question_2 }}</h3>
    <p>{{ texts.faq_answer_2 }}</p>
  </div>
  <div class="info-section">
    <h3>3. {{ texts.faq_question_3 }}</h3>
    <p>{{ texts.faq_answer_3 }}</p>
  </div>
</section>
{% endblock %}
